<div class="quizz_container">
    
    <div class="quiz_logo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <h3 *ngIf="quizSelect">{{title}}</h3>
    </div>

    <div *ngIf="!quizSelect" class="quiz_select">
        <h3>Escolha o seu quiz!</h3>
        <button
            class="btn-option"
            (click)="quizSelection('hero')"
        >Você seria um heroi ou vilão?</button>
        <button
            class="btn-option"
            (click)="quizSelection('ffx')"
        >Qual Personagem do Final Fantasy X você é?</button>
    </div>
    
    <div *ngIf="!finished && quizSelect" class="quiz_questions">
        <h3>{{questionSelected.question}}</h3>
    </div>

    <div *ngIf="!finished && quizSelect" class="quiz_options">
        <button
            *ngFor="let option of questionSelected.options"
            (click)="playerChoice(option.alias)"
            class="btn-option"
        >
            {{option.name}}
        </button>
    </div>

    <div *ngIf=finished class="quiz_results">
        <h1>O Seu Resultado é:</h1>
        <p>{{answerSelected}}</p>
        <img class="result_img" src="{{answerImage}}" alt="" srcset="">
    </div>
</div>